.principal {
    background-color: #1c1c1c;
    margin-bottom: 4.5rem;
}

main {
    margin-bottom: 7rem;
    color: #FFF;
}

main .hero {
    display: flex;
    justify-content: center;
    min-height: 45dvh;
    background-image: url('../img/background.jpg');
}

main .hero article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

main .hero article * {
    max-width: 65dvw;
}

main section i {
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

main section .accordion-item {
    background-color: #30373E;
    border: 1px solid #30373E;
}

main section .accordion-button {
    background-color: #262A2F;
    color: #FFF;
    font-weight: 700;
}

main section .accordion-button:not(.collapsed) {
    background-color: #1B1C1C;
    color: #FFF;
    text-decoration: underline;
}

main form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 12px;
}

main form label {
    font-size: 1.25rem;
    margin-bottom: -0.5rem;
}

main form .alert ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: -1px;
    background-color: #212529;
    color: #FFF;
    padding: 1.5rem;
    z-index: 999;
}

footer p {
    margin: 0;
    font-weight: 600;
}