{% with page_title="Fortlock - Listagem" %}
    {% include "header.html" %}
{% endwith %}
    <main class="container-fluid pt-4">
        <h1 class="mb-4">Usuários cadastrados:</h1>
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}

        {% for usuario in usuarios %}
            <h3>ID: {{ usuario.id }}</h3>
            <ul>
                <li><strong>Nome: </strong>{{ usuario.nome }}</li>
                <li><strong>Matricula: </strong>{{ usuario.matricula }}</li>
                <li><strong>E-mail: </strong>{{ usuario.email }}</li>
                <li><strong>Senha: </strong>{{ usuario.senha }}</li>
            </ul>
        {% endfor %}
    </main>
    {% include "footer.html" %}
</body>
</html>


