{% with page_title="Fortlock - Dashboard" %}
    {% include "fortlock_app/dashboard/header.html" %}
{% endwith %}
    <main>
        <section class="hero">
            <article class="container">
                <h1>Olá {{ usuario.nome }}</h1>
                <p>Deseja cadastrar um novo cofre?</p>
                <a href="{% url 'cadastrarCofre' %}" class="btn btn-primary">Cadastrar cofre</a>
            </article>
        </section>
        <section class="container my-4">
            {% for message in messages %}
                {% if 'success' in message.tags %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}

            {% if cofres %}
                <article>
                    <h2 class="mb-3">Seus Cofres</h2>

                    <div class="row dashboard gap-4">
                        {% for cofre in cofres %}
                            <div class="card col-md-3">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ cofre.nome }}</h5>
                                    <hr>
                                    <div class="d-flex flex-column gap-2">
                                        <input type="hidden" class="senhaCofre" id="senhaCofre{{cofre.id}}" value="{{cofre.senha}}">
                                        <button type="button" class="btn btn-success copiarSenha" id="{{ cofre.id }}">Copiar senha</button>
                                        <a href="{% url 'gerarSenha' idCofre=cofre.id %}" class="btn btn-secondary">Gerar senha</a>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removerSenhaCofre{{cofre.id}}">Remover senha</button>
                                    
                                        <!-- Modal -->
                                        <div class="modal fade" id="removerSenhaCofre{{cofre.id}}" tabindex="-1" aria-labelledby="removerSenhaCofre{{cofre.id}}Label" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="removerSenhaCofre{{cofre.id}}Label" style="color: #000;">Remover cofre de {{ cofre.nome }}</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" action="{% url 'removerCofre' %}">
                                                        {% csrf_token %}
                                                        <p style="color: #000">Tem certeza? Ao apagar, não será reversível...</p>
                                                        <input type="hidden" name="cofre" id="cofre" value="{{ cofre.id }}">
                                                        <button type="submit" class="btn btn-danger mx-auto">Sim, remover cofre!</button>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </article>
            {% else %}
                <strong class="text-center d-block mt-5">Você não possui nenhum cofre cadastrado</strong>
            {% endif %}
        </section>      
    </main>
    <script src="../static/js/script.js"></script>
    {% include "footer.html" %}
</body>
</html>

